@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Tangerine);
body {
	background-color: #2E4756;
    background: radial-gradient(circle, #2E4756, #2E4756, #21333e);
}

h3 {
    font-family: sans-serif;
    font-size: 600%;
    text-align: center;
}

.frame {
	position: relative;
	top: 5%;
	width: 30%;
	height: 50%;
	border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	overflow: hidden;
	background: #16262E;
	color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
     margin: 0 auto;
}

.title {
    color: #3c7a89; 
    display:  flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    top: 10%;
    font-family: sans-serif;
    font-size: 80%;
    position: relative;
    text-align: center;
}

.loginbar {
    background-image: url(../resources/profile.png);
    background-size: 10%;
    background-position: 95%;
    background-repeat: no-repeat;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    border: none;
    border-radius: 2px;
    position: relative;
    height: 10%;
    font-size: 1vw;
    width: 60%;
}

.passwordbar {
    background-image: url(../resources/lock.png);
    background-size: 10%;
    background-position: 95%;
    background-repeat: no-repeat;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    border: none;
    border-radius: 2px;
    position: relative;
    height: 10%;
    font-size: 1vw;
    width: 60%;
}

button {
    background-image: url(../resources/key.png);
    background-size: 15%;
    background-position: 26%;
    background-repeat: no-repeat;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    color: #17272e;
    font-size: 180%;
    text-align: center;
    background-color: #3C7A89;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    height: 10%;
    width: 60%;
    font-family: sans-serif;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

#forgot {
    text-decoration: none;
    color: #a93535;
    position: relative;
    font-size: 0.8vw;
    margin-left: 20%;
}

#forgot:hover {
    opacity: 0.8;
}

#new {
    font-family: sans-serif;
    text-decoration: none;
    position: relative;
    color: #a93535;
    font-size: 0.8vw;
    margin-top: 2%;
}

#new:hover {
    opacity: 0.8;
}

.camagru {
    width: 60%;
    display: block;
    margin: 0 auto;
}